### These notes are from reading Q For Mortals

In [67]:
/We can comment using a single forward slash
/Q is a vectorized language with operations being optimized to handle vector operations
/A simple list is just values separated by a space in Q so be careful

# Assigment

In [66]:
/We use : for initialization
/Spaces before or after colon do not matter

/Initializing a value
A:2
A

/Assignment does not have to be a standalone statement with assignment being on the left
/We can assign variables in the middle of an expression
1 + C:4
C

/A is assigned to 10 + 100 where b is assigned to a 100
/So A is 110 and B is 100
a:10 + b:100
a
b

2

5

4

110

100

# Data Types

In [1]:
/As seen above we do not need to specify the type when initializing but we still need to know about them
"Int"
A:2 / Int
A

"Int"

2

In [3]:
"Float"
B:2.5 / Float or double
B

/Scientific notation of float
1.235e07
1.235e7
1.235e-07

"Float"

2.5

1.235e+07

1.235e+07

1.235e-07

In [4]:
"Boolean"
/Getting ahead of ourseleves but = is equality comparison operator and we use it get bool
C:2=3 / Boolean
C
/We can also get bool by trailing b after 0 or 1
CC:1b
CC

"Boolean"

0b

1b

In [5]:
"Char"
/Char holds an individual ASCII character. Use double quotations.
Ch:"A"
Ch
/Very similar to python and other languages that use ASCII, we denote special characters such as newline and tab by using \n and \t
/You can also get an ASCII char by using \ followed by its ASCII code
/Eg b has code 142
"\142"

"Char"

"A"

"b"

In [6]:
"Date"
D:2010.01.01 /This is date ype. Form YYYY.MM.DD
/Date under the covers is days since millenium so 2000.01.01 under the covers is 0
/A date before the start of millenium is displayed as a negative number
D
1999.12.31=-1 /Shows true
/To get the under the cover value that is the days since millenium you can cast it to an int
`int$D

"Date"

2010.01.01

1b

3653i

In [7]:
"Timespan"
EE:12:00:00.0000 /This is time. Form HH:MM:SS.MMMM where M is anywhere from 1 to 4 digits
E:12:00:00.000000000 /This is timespan. Form HH:MM:SS.NNNNN where N is anywhere from 5 to 9 digits
/1-4 digits is of type time and 5-9 is timespan 
/Under the cover timespan is integer count of the number of nanoseconds since midnight.
/Note that HH is in 24 hour clock format
E
/To get the milliseconds if you have 1-4 digits or to get nanosceond if you have 5+ digits, just cast to int for milliseconds and long for nanoseconds
`int$12:00:00.000
`long$12:00:00.00011

"Timespan"

0D12:00:00.000000000

43200000i

43200000110000

In [8]:
"Timestamp"
/Timestamp is the lexical combination of a date and timespan sepaarted by D. Under the cover it is nanoseconds since millenium
/Timestamp only has nanosecond version not millisecond version regardless of decimal places you have in seconds
DD: 2010.01.01D12:00:00.00
DD
DDD: 2010.01.01D12:00:00.00000
DD
/Cast as int to get nanoseconds since millenium.
`int$DD
`int$DDD
/Since it only works for nanoseconds we need to use long
`long$DD
`long$DDD

"Timestamp"

2010.01.01D12:00:00.000000000

2010.01.01D12:00:00.000000000

0Wi

0Wi

315662400000000000

315662400000000000

In [9]:
"Month"
/Month type. Denoted by YYYY.MM with trailing indicator m. It is the count of months since the beginning of the millenium 2000.01.01
/If you dont have trailing m then its just a numeric float value
M:2015.11m
M
/Cast to int to get number of months since millenium
`int$M

"Month"

2015.11m

190i

In [10]:
"Minute"
/Minute type. Denoted by HH:MM. It counts the number of minutes from midnight. It is in 24 hour clock format
Mi: 12:30
Mii: 23:30
Mi
/Cast to int to get minutes
`int$Mi
`int$Mii
/It is equivalent to its time and timespan counterparts
12:00:00.0000=12:00 /Gives true
12:00:00.0000000=12:00 /Gives true
12:00:00.0000001=12:00 /Gives false

"Minute"

12:30

750i

1410i

1b

1b

0b

In [11]:
"Second"
/Second type. Denoted by HH:MM:SS. It counts the number of seconds from midnight. It is in 24 hour clock format
S: 12:30:12
/Cast to int to get seconds
`int$S
/Just like minutes it is equivalent to time and timespan counterparts

"Second"

45012i

In [12]:
"Extraction from Time Variables"

/We can extract the constituents for the various date and time types above by using dot
D.year /Get year
D.mm /Get month
D.dd /Get day
Mi.hh /Get hour
E.mm /Get minutes. Same as month but depends on the type of variable we are running the code on.
S.ss /Get seconds
/The unfortuante news is that this dot notation doesnt work inside functions.
/Good news is that we can work around that by simply casting these variables
`year$D /Extracts year
`month$D /Extract Month variable aka YYYY.MM
`mm$D /Extracts the month
`dd$D /Extracts the day
`hh$Mi /Get hour
`mm$E /Get minutes. 
`ss$S /Get seconds

"Extraction from Time Variables"

2010i

1i

1i

12i

0i

12i

2010i

2010.01m

1i

1i

12i

0i

12i

In [13]:
"Symbols"
/Symbols in q are similar to varchar in SQL
/q does have strings but they are something different so dont confuse them
/Declare them by starting with `
F:`HelloWorld
F

"Symbols"

`HelloWorld

In [14]:
"Arithmeic infinities and nulls"
/0w is positive float infinity. Positive number divided by 0
/20/0
/-0w is negative float infinity. Negative number divided by 0
/-20/0
/0n is Null float; NaN; Not a number. One way to get this is 0 divided by 0.
/0/0
/0W is positive long infinity
9223372036854775806+1
/-0W is negative long infinity
/0N is null long
/Order is 0N < -0W < normal integer < 0W
/We have unqiue null values for each type:
    /0N for int
    /0Nj for long
    /0n for float
    /"" for char
    /0Np for timestamp
    /0Nm for month
    /0Nd for date
    /0Nz for datetime
    /0Nn for timespan
    /0Nu for minute
    /0Nv for second
    /0Nt for time
    /` for symbol
/Thus to check null values for a type we need to check against the correct one
/Since it is hard to keep traack of each null type of each type, we can simply use null to check if its null since it checks it against the appropriate value
null 0N /Check value using null
0N = 0N /Check value using correct type
0Nd = "" /Check value using wrong type

"Arithmeic infinities and nulls"

0W

1b

1b

`boolean$()