# Dictionaries:

In [1]:
/A dict has an explicit key and value list.
/Key list needs to be unique
/It can be considered as key-value pairs but logically it is stored physically as
    /a pair of lists

/A dictionary is sometimes called an association
/Syntax is: keys!values

10 20 30!1.1 2.2 3.3

10| 1.1
20| 2.2
30| 3.3

In [2]:
/Neither keys nor values have to be simple lists
1001 1002 1003!(`Arthur`Dent; `Zaphod`Beeblebrox; `Ford`Prefect)

d: `a`b`c!1 2 3
d

/Decompose list into key and value using the keywords
key d
value d

/Since the length of keys and values need to match, we can easily get count of pairs in dict
count d

1001| Arthur Dent
1002| Zaphod Beeblebrox
1003| Ford   Prefect

a| 1
b| 2
c| 3

`a`b`c

1 2 3

3

In [3]:
/Order of pairs is significant in dicts just as positional order is significant for lists
/Not identical even though the pairs are matching, the wrong order cause them to not be identical
(`a`b`c!1 2 3)~`a`c`b!1 3 2

0b

In [4]:
"Creating empty Dicts"
()!()

/Create a typed empty dict using typed empty key and typed empty value list
(`symbol$())!`float$()

/Creating dict requires both key and values to be list
/To create a dict with single pair we need to leverage the enlist function
(enlist `x)!enlist 1

/`x!1 will yield an enumerated value for a link column

"Creating empty Dicts"

x| 1

In [5]:
"Lookup"
d: `a`b`c!1 2 3
/Look at the value using its key
d[`a]
/As with lists you can skip the brackets and use spaces
d `a
/Looking up a key that doesn not exist returns null
d `x
/Similar to list indexing where you can provide multiple indexes
d[`a`c]
/Set a list and use that as key input
ks: `a`c
d ks

"Lookup"

1

1

0N

1 3

1 3

In [6]:
/Recall that ? on alist returns the index of the first occurence
10 20 30 20?20
/We can extend this to dictionaries and use it to find the key for a value
dd: (`a`b`c`d)!1 2 3 1
/Note that if two keys have the same value it returns the first key
dd?1
/If a value has no key then we get null
dd?45

1

`a

`

In [7]:
"Dict vs Lists"
/We can create a dict that very much works like an equivalent list
L: 10 20 30
d: 0 1 2!10 20 30
L 0
d 0
L 1 2
d 1 2
d~L /Not same even though we aligned the index/keys

"Dict vs Lists"

10

10

20 30

20 30

0b

In [8]:
"Adding two dicts"
/The operation is done based on matching keys
d1: 0 100 5000!10 20 30
d2: 0 99 10000!100 200 300
d1+d2

"Adding two dicts"

0    | 110
100  | 20
5000 | 30
99   | 200
10000| 300

In [9]:
"Non unique keys and values"
/Technically you can have non-unique keys during initialization
    /but lookup only looks at first occurence
ddup:`a`b`a`c!10 20 30 20
ddup
/We can find all keys matching to a value by
where ddup=20

"Non unique keys and values"

a| 10
b| 20
a| 30
c| 20

`b`c

In [10]:
/Neither keys nor values are required to be atoms or uniform
/Either can be nested lists
/Nested lists for keys
d:(`a`b; `c`d`e; enlist `f)!10 20 30
d
d `f
d?20
/Nested lists for values
d:`a`b`c!(10 20; 30 40 50; enlist 60)
d
d `b
d? 30 40 50
/An irregular key or value list will mess up looup and reverse lookup
/An irregular list would be where we have nested lists but one is just a number
d_irregular: (1 2; 3 4 5; 6; 7 8)!10 20 30 40
/6 in the keys list does nto conform so returns null value
d_irregular 6
/Fix have enlist 6
d_regular: (1 2; 3 4 5; enlist 6; 7 8)!10 20 30 40
d_regular 6
/Similar story for irregularity in value list and reverse lookup
d_irregular:10 20 30 40!(1 2; 3 4 5; 6; 7 8)
d_irregular?6 /Returns null
d_regular:10 20 30 40!(1 2; 3 4 5; enlist 6; 7 8)
d_regular?6

`a`b  | 10
`c`d`e| 20
,`f   | 30

30

`c`d`e

a| 10 20
b| 30 40 50
c| ,60

30 40 50

`b

0N

30

0N

30

In [11]:
"Operations on dict"
/Just like with lists we can modify via assignment to a key. In the case of lists the key is the index
d:`a`b`c!10 20 30
d[`b]: 22
/In contrast to lists, dicts can be extended via assignment
d[`x]: 100
d
/So using an existing key is an update and using a new key is an insert.
/This behavior is sometimes called upsert.

"Operations on dict"

a| 10
b| 22
c| 30
x| 100

In [12]:
"Extracting sub-dictionary"
/We can extract both the key and values using the Take operator #
/Left operand is a list of keys and right operand is source dict
/It returns a sub-dict of the specific keys
d:`a`b`c!10 20 30
d `a`c
`a`c#d
/In the event of dup keys only first is extracted
/It also works with non simple keys

"Extracting sub-dictionary"

10 30

a| 10
c| 30

In [14]:
"Removing entries"
/The operator _ removes key value pairs.
/The left operand is keys to remove and right operand is dict
/It returns thee dict obtained from removing key-value pairs of specified keys
/Note that we need space before _ because _ can be a part of a symbol cauing syntax issues
d:`a`b`c`a!10 20 30 40
`a`c _ d
/Keys that do not exist have no effect. No error for invalid key
`x`c _ d
/Note that for duplicate keys it removes all occurences
/The binary keyword "cut" is the same as _
`a`c cut d
`x`c cut d
/Another syntax for this which is seldom used is
/Dict on the right and single key on the left
/Doesnt work for more than one key
d _ `a
/Another key difference between the single remove vs the usual syntax
/The single remove is built for removing single key-value pair
/So it only removes first instance
/Thus the above syntax remove one pair with key `a
/whereas syntax below will remove both pairs with `a
`a _ d

"Removing entries"

b| 20

a| 10
b| 20
a| 40

b| 20

a| 10
b| 20
a| 40

b| 20
c| 30
a| 40

b| 20
c| 30

In [15]:
"Basic operations on dicts"
/Any function applied to dict applies to its value list
/Recall with dict addition visted above, the keys are used to decide what values to add
/The keys themselves never change
d: 1 2 3 4!5 6 7 8
d2: 1 3 4 5!10 20 30 40
neg d /Only affects values
2*d
d=20
d*d
/When key list is different we get dict with union of the key lists
/Operation only happens on matching keys
/Nothing happens to unmacthed keys
d*d2
/What if their are duplicate keys in one of them
d: 1 2 3 4 3!5 6 7 8 9
d2: 1 3 4 5!10 20 30 40
/If the first one has duplicates then operation happends only on first occurence
d+d2
/If the second one has duplicates then the non-first occurence is dropped
d2+d
/What id both have duplicate keys
d: 1 2 3 4 3!5 6 7 8 9
d2: 1 3 4 5 3!10 20 30 40 100
/Operation only happens based on first occurence. Non first occurence of second dict is omitted
d+d2
/Operation only happens on first occurence. Non first occurence of second dict aka right operand are omitted
d2+d

"Basic operations on dicts"

1| -5
2| -6
3| -7
4| -8

1| 10
2| 12
3| 14
4| 16

1| 0
2| 0
3| 0
4| 0

1| 25
2| 36
3| 49
4| 64

1| 50
2| 6
3| 140
4| 240
5| 40

1| 15
2| 6
3| 27
4| 38
3| 9
5| 40

1| 15
3| 27
4| 38
5| 40
2| 6

1| 15
2| 6
3| 27
4| 38
3| 9
5| 40

1| 15
3| 27
4| 38
5| 40
3| 100
2| 6

In [16]:
"Join operator merges two dicts"
/For overlapping keys b/w the two dicts the value of the right operand prevails
/Syntax is same as lists
d1:`a`b`c!10 20 30
d2:`a`c`d!100 200 300
d1,d2
/Since we take the right operand values you can thing of this is each
    /key value pair on the right being upserted into the left
/Since we take the value of right operand in cases of overlap the order in joining matters
/Again we think about duplicates
/The result is very similar to how the other operators handled duplicates
d1:`a`b`c`a!10 20 30 40
d2:`a`c`d!100 200 300
/If duplicate in left operand, we only perform potential coalesce on first occurence
d1,d2
/If duplicate on right operand we omit the non first occurence
/If both have duplicates, things get tricky
/But its easy to follow it if you break it down into the upserted calculations
/If we have d1,d2
/d1[key from d2] d2 value
/If d1 has duplicate key, only first occurence changes b/c update operator can only retrieve first occurence
/If d2 has duplicate keys `x for e.g
/Then first we do d1[`x]=val1 and then we do d1[`x]=val2
/Thus d1[`x] will have the last occurence because thats what we set
d1:`a`b`c`a!10 20 30 40
d2:`a`c`d`c!100 200 300 400
/These follow the upsert chain as described above
d1,d2
d2,d1

"Join operator merges two dicts"

a| 100
b| 20
c| 200
d| 300

a| 100
b| 20
c| 200
a| 40
d| 300

a| 100
b| 20
c| 400
a| 40
d| 300

a| 40
c| 30
d| 300
c| 400
b| 20

In [17]:
"Coalesce"
/The coalesce operator is similar to join in that it employs upsert semantics
    /to merge two dicts
/The difference is that the right values prevail over the left except for nulls
d1:`a`b`c!10 0N 30
d2:`b`c`d!200 0N 400
d1^d2

"Coalesce"

a| 10
b| 200
c| 30
d| 400

In [18]:
"Arithmetic and relational operators"
/In arithmetic operators, the operation is performed on common keys
/Disjoint keys are kept as is
/For equality and comparison, operation is performed over common keys
/For disjoint keys the appropriate null value is returned
/If a disjoint key has null value then it will show false
/Because if we reference a non existing key in a dict we get null
/So wehn comparing it to the dict that doesnt have it we will still get null for both resulting in True
(`a`b`c!10 20 30)=`b`c`d!20 300 400 /b:20 is only key value pair matching
(`a`b`c!0N 20 30)=`b`c`d!20 300 0N /b matches and a and d should return true because they are null and disjointed
/Duplicate keys, what happens
/Only first occurence is considered regardless of right or left operand
/Non first occurence omitted
(`a`b`c`a!10 20 30 10)=`b`c`d`a!20 300 0N 10
/Both sides have duplicates? Still only first occurence checked and the rest omitted
(`a`b`c`d`a!10 20 300 0N 20) = `a`b`c`a!20 20 30 10

"Arithmetic and relational operators"

a| 0
b| 1
c| 0
d| 0

a| 1
b| 1
c| 0
d| 1

a| 1
b| 1
c| 0
d| 1

a| 0
b| 1
c| 0
d| 1

In [19]:
"Column Dictionary"
/A dictionary where each key corresponds to vector/list is called a column dictionary
`c1`c2!(`a`b`c; 10 20 30)
/We think of c1..cn:v1..vn where ci is column
/Lets look at an example
travelers:`name`iq!(`Dent`Beeblebrox`Prefect;42 98 126)
travelers

/Name column
travelers[`name]

/Get the specific value in columns
travelers[`name][1]

/Whenever we encounter repeated indexing, we can write is as indexing at depth
travelers[`name;1]

/We do not specify the column, just the position
travelers[;1]

/COlumn dict with single column
(enlist `c)!enlist 10 20 30

"Column Dictionary"

c1| a  b  c
c2| 10 20 30

name| Dent Beeblebrox Prefect
iq  | 42   98         126

`Dent`Beeblebrox`Prefect

`Beeblebrox

`Beeblebrox

name| `Beeblebrox
iq  | 98

c| 10 20 30

In [20]:
"Transposing dictionaries"
/he columns become the vertical columns as we are used to seeing them
/The inexes flip so column index comes second
travelers:`name`iq!(`Dent`Beeblebrox`Prefect;42 98 126)
t: flip travelers
t

/Get value
t[1;`iq]

/Get column
t[;`iq]

/Get row
t[1;]

"Transposing dictionaries"

name       iq
--------------
Dent       42
Beeblebrox 98
Prefect    126

98

42 98 126

name| `Beeblebrox
iq  | 98