# List

All data structures are built from lists. A dict is a pair of lists, a table is a special dictionary, akeyed table is a apair of tables.

In [1]:
/List is an ordered collection of data.
/Lists encloses items with ( and ) and uses ; as separator
G:(1;2)
G
G:(1 ; 2)
G

/List can have different types within it
GG:(1 ; 1.1 ; 2.3e7)
GG

1 2

1 2

1
1.1
2.3e+07

In [2]:
"List of list"
GGG:( (1 ; 2) ; (3 ; 4) )
GGG /Displayed in matrix/array form making it easy to read

/List of list with unequal form
GGGG:( (1 ; 2) ; (3 ; 4) ; 5 )
GGGG

"List of list"

1 2
3 4

1 2
3 4
5

In [4]:
"Simple List"
/List can contain items of different types
/If list has homogenous type of values then we can use its simpified form for defining
/Simple form: no parenthesis and is separated by space
H: 1 2 3 4
H

/Notice that GG, GGG, GGGG are displayed different in the console (i.e. they are displayed vertically)
/The reason behind this is that they either do not have homogenous types within the list or are a list of list.
/These are called general lists

/G and H is what you would call a simple list since it has homogenous type
/The syntax of intializing a simple list doesnt matter:

"Simple List"

1 2 3 4

In [5]:
/ ~ is used to check if the two lists are equal as a whole. Doesnt show by each element
1 2 3 4 ~ (1 ; 2 ; 3 ; 4)

1b

In [6]:
/Simple char lists display as strings and in fact are strings
S: ("H" ; "e" ; "l" ; "l" ; "o")
S
/Since a string is a list of chars, you cannot ask if two srings of different length are equal using =.
/But you can ask if they are identical using ~
/We can also intialize string using double quotations
SS: "Hello"
SS
/SS = "Hell" /Error
SS ~ S

"Hello"

"Hello"

1b

In [7]:
"Temporal Lists"
/General lists for temporal aka time and date type variables.
/We can only have simple lists for temporal types so if you specify a general list all items get widened or narrowed to the first element type
(1997.10.27 ; 1995.10.27D22:34:45)

(12:34 ; 01:02:03)

/It seems that it does not get forced to simple list. May have been updated since the book release.

"Temporal Lists"

1997.10.27
1995.10.27D22:34:45.000000000

12:34
01:02:03

In [8]:
"Empty list"
/Open close parentheses with nothing in between. You can have optional whitespace.
Empty: ()

"Empty list"

In [10]:
"Singleton lists"
/A list containing a single item
/We have to use the keyword enlist
Single: enlist "S"
Single

/The enlist keyword doesnt just work on a single atom, it can be any q entity
SS : ( (1;2) ; (3;4))
SSS : enlist SS
SSS ~ SS
SSS
/Note that it flattens a list of list. A useful feature to keep in mind

"Singleton lists"

,"S"

0b

1 2 3 4

In [11]:
/List construction can take place where we are calling other functions or existing variables
A: 1 2 3 4
AA: 2
BB: `Hello
CC: 1b
L1: (AA ; BB ; CC ; count A)
L1

2
`Hello
1b
4

In [13]:
/Lists as maps
/We can think of lists as a mathematical mapping provided by item indexing. 
/So the I/O table would be where I is the index and 0 is the list value
i:("A" ; 2 ; 4.2 ; 5) /Has the map i=0 for "A" and so on
i[0]
/For a nested list it is slightly different
i:(("A" ; 2) ; (4.2 ; 5)) /Has the map i=0 for ("A" ; 2) and i=2 for (4.2 ; 5)
i[0]

"A"

"A"
2

In [14]:
"Nested lists"
/They have item themselves that are lists
/The number of levels of nesting for a list is called its depth
/Depth can be thought of as how much repeated indexing is needed to arrive at only atoms.
/Atoms have depth 0 and simple lists have depth 1
L1: (1 ; 2 ; (3 ; 4))
L1[0]
L1[2][0] /Depth of 2 to get to atoms.

"Nested lists"

1

3

In [15]:
"Reshape"
/We can create an array of given number of rows and vectors using the reshape operator # by specifyinh 0N for the number of rows or columns left
LL : 0 1 2 3 4 5 6 7 8 9
/Specify rows and columns followed by # and the list
2 0N#LL /Columns automatically calculated
0N 3#LL /The rows do not need to be of same size

"Reshape"

0 1 2 3 4
5 6 7 8 9

0 1 2
3 4 5
6 7 8
,9

In [16]:
"Rectangular Lists"
/A rectangular list is a list of lists all having the same count. Rectangular lists is not a matrix because it can have additional levels of nesting
L:(1 2 3; (10 20; 100 200; 1000 2000))
L
/We can transpose a rectangular list using flip. 
/Note that it only flips the first two index levels i.e L[1,2] will become L[2,1] when flipped
flip L

/A matrix is a special case of recatngular lists but each dimension/level must have same length of lists
mm:((1 2;3 4;5 6);(10 20;30 40;50 60)) /2x3x2 matrix
mm
mm[0]
mm[0;1]
mm[0;1;0]

"Rectangular Lists"

1         2         3
10   20   100  200  1000 2000

1 10 20
2 100 200
3 1000 2000

1 2   3 4   5 6
10 20 30 40 50 60

1 2
3 4
5 6

3 4

3

In [17]:
"Indexing"

A: 1 2 3 4 5 6 7 8 9
B: 10 11 12 13
C: (`Hello ; 2 ; 2.2 ; 5555 ;"A")
D: (1 ; 2 ; ((1 ; 2) ; (3 ; 4)))

/List is indexed from 0 to n-1 just like python
A[0]
C[3]
/Out of bound index return null value
C[6] /Null value shown is of the first element type

/Items in list can be assigned via indexing
C[1] : 22
C

/Simple lists are built to be fast thus they do not accept assignment to another type
/A[0] : `Hell /Gives error

/Negative indexing does not work unlike Python where it is very useful
A[-1] /Gives null

/Nothing in the index bounds return entire list
A[]
A[::] /:: denotes nil item so it results in empty index as above

"Indexing"

1

5555

`

`Hello
22
2.2
5555
"A"

0N

1 2 3 4 5 6 7 8 9

1 2 3 4 5 6 7 8 9

In [18]:
"Nested Indexing"

/Nested indexing also called iterated indexing
D[2][0] /Second level
D[2][0][1] /Third level
/Alternate notation for nested indexing called indexing at depth
D[2;0]
D[2;0;1]

/Assignment works with indexing at depth but not iterated indexing
D[2;0;1] : 44444
D
/D[2][0][1] : 44 /Gives error

"Nested Indexing"

1 2

2

1 2

2

1
2
(1 44444;3 4)

In [19]:
"Indexing with Lists"
A[0 2] /List of (0;2) 
A[(0;2)]

/Order doesnt matter thus we can use it to rearrange the list if need be
A[2 0 4 1]

/We can also use this for assignment but the length of the assigned needs to match the value it is being set to
A[2 0 4 1] : 4 5 6 7
A

/What if an index is repeated? It is assigned from left to right so since the right is latest one read, the right value is used
A[2 0 4 0] : 10 11 12 17 /A[0] will be 17
A

/You can also assign a single value to multiple items
A[2 0 4 1] : 0
A

"Indexing with Lists"

1 3

1 3

3 1 5 2

5 7 4 4 6 6 7 8 9

17 7 10 4 12 6 7 8 9

0 0 0 4 0 6 7 8 9

In [20]:
"Indexing via Variable"
I1: 3
I2: 3 1 5 7
A[I1]
A[I2]

"Indexing via Variable"

4

4 0 6 8

In [21]:
"Indexing with Nested Lists"
/The output from the indexing assumed the form and shape of the index
/So when we have nested lists as index, the output is nested list
I3: (3 1;5 7)
I3
A[I3]

"Indexing with Nested Lists"

3 1
5 7

4 0
6 8

In [22]:
"Juxtaposition"
/We dont need brackets to index lists. A white space and the same format as with brackets but with brackets removed works
A 0 /A[0]
A 3 1 5 7 /A[2 0 4 1]
A I2 /A[I2]
A :: /A[::]

"Juxtaposition"

0

4 0 6 8

4 0 6 8

0 0 0 4 0 6 7 8 9

In [23]:
"Elided Indices"
M: (1 2 3 4;5 6 7 8;9 10 11 12)
M
/We can retrieve row or column by using partial indices for indexing at depth
M[1;] /Row 1. Note row starts a 0
M[;1] /Col 1. Note col starts at 0
/Eliding the index just reduces it to the top level that is M[1;] means M[1]

/Lets look at a harder example
L:((1 2 3;4 5 6 7);(`a`b`c`d;`z`y`x`;`0`1`2);("now";"is";"the"))
L
L[;1;]
L[;;2]
/L[3] had three values in the second level. The second value in second level does not have value at index 2 so we get w e

/Nested elided indices
L[0 2 ;; 0 1]

"Elided Indices"

1 2  3  4
5 6  7  8
9 10 11 12

5 6 7 8

2 6 10

(1 2 3;4 5 6 7)
(`a`b`c`d;`z`y`x`;`0`1`2)
("now";"is";"the")

4 5 6 7
`z`y`x`
"is"

3 6
`c`x`2
"w e"

(1 2;4 5)
("no";"is";"th")

In [24]:
/List and Vector operations
A: 1 2 3 4 5 6 7 8 9
B: 10 11 12 13
C: (`Hello ; 2 ; 2.2 ; 5555 ;"A")
D: (1 ; 2 ; (1 2 3 4))

/Getting number of elements in vector
"------------------"
"Count"
count A
count B
count C
count D
count D[2] /Nested count

/We can get the first and last items in a list using the first and last named operators
"------------------"
"First and Last"
first A
first C
last A
last C

"------------------"
"Til Operator aka Range operator"
/Get values from 0 upto and not including n
/Simply the range from python
til 8
2 + 3*til 4

"------------------"
"Concatenating/Join"
/We can join lists using ,
/This is concatenation/appending
CC: A,B
CC
/Note that simple list is initialized with just space so concatenating simple lists may look like this
DD: 1 2 3 4, 44 55
DD

"------------------"
"Merging with ^ aka Coalesce"
/You can coalesce two lists of the same length by using ^
/The right list prevails over the left list when both values are non NA
10 10 0N ^ 0N 20 2
/This would result in 10,20,2 list

"------------------"
"Find Operator ?"
/Returns index of first occurence of the right operand in the left operand
1 2 3 4 3?3
/Aka the index of the first occurence
/We can find the first index of multiple atoms by using a list as the right operand
1 2 3 4 3?3 2

"------------------"
"Distinct Operator"
/Returns unique values in list in order of first occurence
distinct A
/It takes place on level 1 so we can get a nested list back when it is called
distinct D 

"------------------"
"Where Operator"
/Returns indices whee condition is true
LL: 1 2 1 3 4 5 1
LL
where LL=1
/We can use it to index
LL[where LL=1]
/Can also use it in assignment
LL[where LL=1] : 100
LL

"------------------"
"Group Operator"
/Takes a list and returns a dicionary in which each disinct item of the argument is mapped to each indices of its occurence in order of occurence
LL: 1 2 1 3 4 5 1
group LL
/Nested list: Takes place on level 1 just like distinct. So a list is one of the distinct items in nested list.
group D

"------------------"
"Take Operator aka Reshape Operator"
/Take operator. It takes n operator from front or back depending on sign
/Negative sign is for taking from the back of the list. May remind you of pop function from python lists
2 # A
-2 # A
/If you extract more items than length of list, it just restarts from the beginning of list and continues extracting
12 # A
/This repetition feature is very useful we can use this to get a list of size n of the same value. Eg 10 15s
10#15

"------------------"

"Count"

9

4

5

3

4

"------------------"

"First and Last"

1

`Hello

9

"A"

"------------------"

"Til Operator aka Range operator"

0 1 2 3 4 5 6 7

2 5 8 11

"------------------"

"Concatenating/Join"

1 2 3 4 5 6 7 8 9 10 11 12 13

1 2 3 4 44 55

"------------------"

"Merging with ^ aka Coalesce"

10 20 2

"------------------"

"Find Operator ?"

2

2 1

"------------------"

"Distinct Operator"

1 2 3 4 5 6 7 8 9

1
2
1 2 3 4

"------------------"

"Where Operator"

1 2 1 3 4 5 1

0 2 6

1 1 1

100 2 100 3 4 5 100

"------------------"

"Group Operator"

1| 0 2 6
2| ,1
3| ,3
4| ,4
5| ,5

1      | 0
2      | 1
1 2 3 4| 2

"------------------"

"Take Operator aka Reshape Operator"

1 2

8 9

1 2 3 4 5 6 7 8 9 1 2 3

15 15 15 15 15 15 15 15 15 15