### These notes are from reading Q For Mortals

In [67]:
/We can comment using a single forward slash
/Q is a vectorized language with operations being optimized to handle vector operations
/A simple list is just values separated by a space in Q so be careful

# Assigment

In [66]:
/We use : for initialization
/Spaces before or after colon do not matter

/Initializing a value
A:2
A

/Assignment does not have to be a standalone statement with assignment being on the left
/We can assign variables in the middle of an expression
1 + C:4
C

/A is assigned to 10 + 100 where b is assigned to a 100
/So A is 110 and B is 100
a:10 + b:100
a
b

2

5

4

110

100

# Data Types

In [46]:
/As seen above we do not need to specify the type when initializing but we still need to know about them

A:2 / Int
A

B:2.5 / Float or double
B

/Scientific notation of float
1.235e07
1.235e7
1.235e-07

/Getting ahead of ourseleves but = is equality comparison operator and we use it get bool
C:2=3 / Boolean
C
/We can also get bool by trailing b after 0 or 1
CC:1b
CC

/Char holds an individual ASCII character. Use double quotations.
Ch:"A"
Ch
/Very similar to python and other languages that use ASCII, we denote special characters such as newline and tab by using \n and \t
/You can also get an ASCII char by using \ followed by its ASCII code
/Eg b has code 142
"\142"

D:2010.01.01 /This is date ype. Form YYYY.MM.DD
/Date under the covers is days since millenium so 2000.01.01 under the covers is 0
/A date before the start of millenium is displayed as a negative number
D
1999.12.31=-1 /Shows true
/To get the under the cover value that is the days since millenium you can cast it to an int
`int$D

EE:12:00:00.0000 /This is time. Form HH:MM:SS.MMMM where M is anywhere from 1 to 4 digits
E:12:00:00.000000000 /This is timespan. Form HH:MM:SS.NNNNN where N is anywhere from 5 to 9 digits
/1-4 digits is of type time and 5-9 is timespan 
/Under the cover timespan is integer count of the number of nanoseconds since midnight.
/Note that HH is in 24 hour clock format
E
/To get the milliseconds if you have 1-4 digits or to get nanosceond if you have 5+ digits, just cast to int for milliseconds and long for nanoseconds
`int$12:00:00.000
`long$12:00:00.00011

/Timestamp is the lexical combination of a date and timespan sepaarted by D. Under the cover it is nanoseconds since millenium
/Timestamp only has nanosecond version not millisecond version regardless of decimal places you have in seconds
DD: 2010.01.01D12:00:00.00
DD
DDD: 2010.01.01D12:00:00.00000
DD
/Cast as int to get nanoseconds since millenium.
`int$DD
`int$DDD
/Since it only works for nanoseconds we need to use long
`long$DD
`long$DDD

/Month type. Denoted by YYYY.MM with trailing indicator m. It is the count of months since the beginning of the millenium 2000.01.01
/If you dont have trailing m then its just a numeric float value
M:2015.11m
M
/Cast to int to get number of months since millenium
`int$M

/Minute type. Denoted by HH:MM. It counts the number of minutes from midnight. It is in 24 hour clock format
Mi: 12:30
Mii: 23:30
Mi
/Cast to int to get minutes
`int$Mi
`int$Mii
/It is equivalent to its time and timespan counterparts
12:00:00.0000=12:00 /Gives true
12:00:00.0000000=12:00 /Gives true
12:00:00.0000001=12:00 /Gives false

/Second type. Denoted by HH:MM:SS. It counts the number of seconds from midnight. It is in 24 hour clock format
S: 12:30:12
/Cast to int to get seconds
`int$S
/Just like minutes it is equivalent to time and timespan counterparts

/We can extract the constituents for the various date and time types above by using dot
D.year /Get year
D.mm /Get month
D.dd /Get day
Mi.hh /Get hour
E.mm /Get minutes. Same as month but depends on the type of variable we are running the code on.
S.ss /Get seconds
/The unfortuante news is that this dot notation doesnt work inside functions.
/Good news is that we can work around that by simply casting these variables
`year$D /Extracts year
`month$D /Extract Month variable aka YYYY.MM
`mm$D /Extracts the month
`dd$D /Extracts the day
`hh$Mi /Get hour
`mm$E /Get minutes. 
`ss$S /Get seconds

/Symbols in q are similar to varchar in SQL
/q does have strings but they are something different so dont confuse them
/Declare them by starting with `
F:`HelloWorld
F

/Arithmeic infinities and nulls
/0w is positive float infinity. Positive number divided by 0
/20/0
/-0w is negative float infinity. Negative number divided by 0
/-20/0
/0n is Null float; NaN; Not a number. One way to get this is 0 divided by 0.
/0/0
/0W is positive long infinity
9223372036854775806+1
/-0W is negative long infinity
/0N is null long
/Order is 0N < -0W < normal integer < 0W
/We have unqiue null values for each type:
    /0N for int
    /0Nj for long
    /0n for float
    /"" for char
    /0Np for timestamp
    /0Nm for month
    /0Nd for date
    /0Nz for datetime
    /0Nn for timespan
    /0Nu for minute
    /0Nv for second
    /0Nt for time
    /` for symbol
/Thus to check null values for a type we need to check against the correct one
/Since it is hard to keep traack of each null type of each type, we can simply use null to check if its null since it checks it against the appropriate value
null 0N /Check value using null
0N = 0N /Check value using correct type
0Nd = "" /Check value using wrong type

2

2.5

1.235e+07

1.235e+07

1.235e-07

0b

1b

"A"

"b"

2010.01.01

1b

3653i

0D12:00:00.000000000

43200000i

43200000110000

2010.01.01D12:00:00.000000000

2010.01.01D12:00:00.000000000

0Wi

0Wi

315662400000000000

315662400000000000

2015.11m

190i

12:30

750i

1410i

1b

1b

0b

45012i

2010i

1i

1i

12i

0i

12i

2010i

2010.01m

1i

1i

12i

0i

12i

`HelloWorld

0W

1b

1b

`boolean$()

# List

All data structures are built from lists. A dict is a pair of lists, a table is a special dictionary, akeyed table is a apair of tables.

In [128]:
/List is an ordered collection of data.
/Lists encloses items with ( and ) and uses ; as separator
G:(1;2)
G
G:(1 ; 2)
G

/List can have different types within it
GG:(1 ; 1.1 ; 2.3e7)
GG

/List of list
GGG:( (1 ; 2) ; (3 ; 4) )
GGG /Displayed in matrix/array form making it easy to read

/List of list with unequal form
GGGG:( (1 ; 2) ; (3 ; 4) ; 5 )
GGGG

/List can contain items of different types
/If list has homogenous type of values then we can use its simpified form for defining
/Simple form: no parenthesis and is separated by space
H: 1 2 3 4
H

/Notice that GG, GGG, GGGG are displayed different in the console (i.e. they are displayed vertically)
/The reason behind this is that they either do not have homogenous types within the list or are a list of list.
/These are called general lists

/G and H is what you would call a simple list since it has homogenous type
/The syntax of intializing a simple list doesnt matter:
/ ~ is used to check if the two lists are equal as a whole. Doesnt show by each element
1 2 3 4 ~ (1 ; 2 ; 3 ; 4)

/Simple char lists display as strings and in fact are strings
S: ("H" ; "e" ; "l" ; "l" ; "o")
S
/Since a string is a list of chars, you cannot ask if two tsrings of different length are equal using =.
/But you can ask if they are identical using ~
/We can also intialize string using double quotations
SS: "Hello"
SS
/SS = "Hell" /Error
SS ~ S

/General lists for temporal aka time and date type variables.
/We can only have simple lists for temporal types so if you specify a general list all items get widened or narrowed to the first element type
(1997.10.27 ; 1995.10.27D22:34:45)

(12:34 ; 01:02:03)

/It seems that it does not get forced to simple list. May have been updated since the book release.

/Empty list. Open close parentheses with nothing in between. You can have optional whitespace.
Empty: ()

/Singleton lists
/A list containing a single item
/We have to use the keyword enlist
Single: enlist "S"
Single
/The enlist keyword doesnt just work on a single atom, it can be any q entity
SS : ( (1;2) ; (3;4))
SSS : enlist SS
SSS ~ SS
SSS
/Note that it flattens a list of list. A useful feature to keep in mind

/List construction can take place where we are calling other functions or existing variables
AA: 2
BB: `Hello
CC: 1b
L1: (AA ; BB ; CC ; count A)
L1

/Lists as maps
/We can think of lists as a mathematical mapping provided by item indexing. 
/So the I/O table would be where I is the index and 0 is the list value
("A" ; 2 ; 4.2 ; 5) /Has the map i=1 for "A" and so on
/For a nested list it is slightly different
(("A" ; 2) ; (4.2 ; 5)) /Has the map i=1 for ("A" ; 2) and i=2 for (4.2 ; 5)

/Nested lists
/They have item themselves that are lists
/The number of levels of nesting for a list is called its depth
/Depth can be thought of as how much repeated indexing is needed to arrive at only atoms.
/Atoms have depth 0 and simple lists have depth 1
L1: (1 ; 2 ; (3 ; 4))
L1[0]
L1[2][0] /Depth of 2 to get to atoms.

/We can create an array of given number of rows and vectors using the reshape operator # by specifyinh 0N for the number of rows or columns left
LL : 0 1 2 3 4 5 6 7 8 9
/Specify rows and columns followed by # and the list
2 0N#LL /Columns automatically calculated
0N 3#LL /The rows do not need to be of same size


/Rectangular Lists
/A rectangular list is a list of lists all having the same count. Rectangular lists is not a matrix because it can have additional levels of nesting
L:(1 2 3; (10 20; 100 200; 1000 2000))
L
/we can transpose a rectangular list using flip. 
/Note that it only flips the first two index levels i.e L[1,2] will become L[2,1] when flipped
flip L

/A matrix is a special case of recatngular lists but each dimension/level must have same length of lists
mm:((1 2;3 4;5 6);(10 20;30 40;50 60)) /2x3x2 matrix
mm
mm[0]
mm[0;1]
mm[0;1;0]

1 2

1 2

1
1.1
2.3e+07

1 2
3 4

1 2
3 4
5

1 2 3 4

1b

"Hello"

"Hello"

1b

1997.10.27
1995.10.27D22:34:45.000000000

12:34
01:02:03

,"S"

0b

1 2 3 4

2
`Hello
1b
9

"A"
2
4.2
5

"A" 2
4.2 5

1

3

0 1 2 3 4
5 6 7 8 9

0 1 2
3 4 5
6 7 8
,9

1         2         3
10   20   100  200  1000 2000

1 10 20
2 100 200
3 1000 2000

1 2   3 4   5 6
10 20 30 40 50 60

1 2
3 4
5 6

3 4

3

In [124]:
"Indexing"

A: 1 2 3 4 5 6 7 8 9
B: 10 11 12 13
C: (`Hello ; 2 ; 2.2 ; 5555 ;"A")
D: (1 ; 2 ; ((1 ; 2) ; (3 ; 4)))

/List is indexed from 0 to n-1 just like python
A[0]
C[3]
/Out of bound index return null value
C[6] /Null value shown is of the first element type

/Items in list can be assigned via indexing
C[1] : 22
C

/Simple lists are built to be fast thus they do not accept assignment to another type
/A[0] : `Hell /Gives error

/Negative indexing does not work unlike Python where it is very useful
A[-1] /Gives null

/Nothing in the index bounds return entire list
A[]
A[::] /:: denotes nil item so it results in empty index as above

"Nested Indexing"

/Nested indexing also called iterated indexing
D[2][0] /Second level
D[2][0][1] /Third level
/Alternate notation for nested indexing called indexing at depth
D[2;0]
D[2;0;1]

/Assignment works with indexing at depth but not iterated indexing
D[2;0;1] : 44444
D
/D[2][0][1] : 44 /Gives error


"Indexing with Lists"
A[0 2] /List of (0;2) 
A[(0;2)]

/Order doesnt matter thus we can use it to rearrange the list if need be
A[2 0 4 1]

/We can also use this for assignment but the length of the assigned needs to match the value it is being set to
A[2 0 4 1] : 4 5 6 7
A

/What if an index is repeated? It is assigned from left to right so since the right is latest one read, the right value is used
A[2 0 4 0] : 10 11 12 17 /A[0] will be 17
A

/You can also assign a single value to multiple items
A[2 0 4 1] : 0
A

"Indexing via Variable"
I1: 3
I2: 3 1 5 7
A[I1]
A[I2]


"Indexing with Nested Lists"
/The output from the indexing assumed the form and shape of the index
/So when we have nested lists as index, the output is nested list
I3: (3 1;5 7)
I3
A[I3]


"Juxtaposition"
/We dont need brackets to index lists. A white space and the same format as with brackets but with brackets removed works
A 0 /A[0]
A 3 1 5 7 /A[2 0 4 1]
A I2 /A[I2]
A :: /A[::]


"Elided Indices"
M: (1 2 3 4;5 6 7 8;9 10 11 12)
M
/We can retrieve row or column by using partial indices for indexing at depth
M[1;] /Row 1. Note row starts a 0
M[;1] /Col 1. Note col starts at 0
/Eliding the index just reduces it to the top level that is M[1;] means M[1]

/Lets look at a harder example
L:((1 2 3;4 5 6 7);(`a`b`c`d;`z`y`x`;`0`1`2);("now";"is";"the"))
L
L[;1;]
L[;;2]
/L[3] had three values in the second level. The second value in second level does not have value at index 2 so we get w e

/Nested elided indices
L[0 2 ;; 0 1]

"Indexing"

1

5555

`

`Hello
22
2.2
5555
"A"

0N

1 2 3 4 5 6 7 8 9

1 2 3 4 5 6 7 8 9

"Nested Indexing"

1 2

2

1 2

2

1
2
(1 44444;3 4)

"Indexing with Lists"

1 3

1 3

3 1 5 2

5 7 4 4 6 6 7 8 9

17 7 10 4 12 6 7 8 9

0 0 0 4 0 6 7 8 9

"Indexing via Variable"

4

4 0 6 8

"Indexing with Nested Lists"

3 1
5 7

4 0
6 8

"Juxtaposition"

0

4 0 6 8

4 0 6 8

0 0 0 4 0 6 7 8 9

"Elided Indices"

1 2  3  4
5 6  7  8
9 10 11 12

5 6 7 8

2 6 10

(1 2 3;4 5 6 7)
(`a`b`c`d;`z`y`x`;`0`1`2)
("now";"is";"the")

4 5 6 7
`z`y`x`
"is"

3 6
`c`x`2
"w e"

(1 2;4 5)
("no";"is";"th")

In [138]:
/List and Vector operations

A: 1 2 3 4 5 6 7 8 9
B: 10 11 12 13
C: (`Hello ; 2 ; 2.2 ; 5555 ;"A")
D: (1 ; 2 ; (1 2 3 4))


/Getting number of elements in vector
"------------------"
"Count"
count A
count B
count C
count D
count D[2] /Nested count

/We can get the first and last items in a list using the first and last named operators
"------------------"
"First and Last"
first A
first C
last A
last C

"------------------"
"Til Operator aka Range operator"
/Get values from 0 upto and not including n
/Simply the range from python
til 8
2 + 3*til 4

"------------------"
"Concatenating/Join"
/We can join lists using ,
/This is concatenation/appending
CC: A,B
CC
/Note that simple list is initialized with just space so concatenating simple lists may look like this
DD: 1 2 3 4, 44 55
DD

"------------------"
"Merging with ^ aka Coalesce"
/You can coalesce two lists of the same length by using ^
/The right list prevails over the left list when both values are non NA
10 10 0N ^ 0N 20 2
/This would result in 10,20,2 list

"------------------"
"Find Operator ?"
/Returns index of first occurence of the right operand in the left operand
1 2 3 4 3?3
/Aka the index of the first occurence
/We can find the first index of multiple atoms by using a list as the right operand
1 2 3 4 3?3 2

"------------------"
"Distinct Operator"
/Returns unique values in list in order of first occurence
distinct A
/It takes place on level 1 so we can get a nested list back when it is called
distinct D 

"------------------"
"Where Operator"
/Returns indices whee condition is true
LL: 1 2 1 3 4 5 1
LL
where LL=1
/We can use it to index
LL[where LL=1]
/Can also use it in assignment
LL[where LL=1] : 100
LL


"------------------"
"Group Operator"
/Takes a list and returns a dicionary in which each disinct item of the argument is mapped to each indices of its occurence in order of occurence
LL: 1 2 1 3 4 5 1
group LL
/Nested list: Takes place on level 1 just like distinct. So a list is one of the distinct items in nested list.
group D


"------------------"
"Take Operator aka Reshape Operator"
/Take operator. It takes n operator from front or back depending on sign
/Negative sign is for taking from the back of the list. May remind you of pop function from python lists
2 # A
-2 # A
/If you extract more items than length of list, it just restarts from the beginning of list and continues extracting
12 # A
/This repetition feature is very useful we can use this to get a list of size n of the same value. Eg 10 15s
10#15

"------------------"

"Count"

9

4

5

3

4

"------------------"

"First and Last"

1

`Hello

9

"A"

"------------------"

"Til Operator aka Range operator"

0 1 2 3 4 5 6 7

2 5 8 11

"------------------"

"Concatenating/Join"

1 2 3 4 5 6 7 8 9 10 11 12 13

1 2 3 4 44 55

"------------------"

"Merging with ^ aka Coalesce"

10 20 2

"------------------"

"Find Operator ?"

2

2 1

"------------------"

"Distinct Operator"

1 2 3 4 5 6 7 8 9

1
2
1 2 3 4

"------------------"

"Where Operator"

1 2 1 3 4 5 1

0 2 6

1 1 1

100 2 100 3 4 5 100

"------------------"

"Group Operator"

1| 0 2 6
2| ,1
3| ,3
4| ,4
5| ,5

1      | 0
2      | 1
1 2 3 4| 2

"------------------"

"Take Operator aka Reshape Operator"

1 2

8 9

1 2 3 4 5 6 7 8 9 1 2 3

15 15 15 15 15 15 15 15 15 15

"Over"

6

6

-4

6

0.1666667

4

1

6

6

4

1

"Power Trick"

100000

"Scan"

1 3 6

1 -1 -4

1 2 6

1
0.5
0.1666667

1 4 4

2 2 1

1 3 6

1 2 6

1 4 4

2 2 1

# Basic Operators

In [1]:
A:2
B: 1 2 3 4
C:3
D: 4 3 2 1
NL: ((1;2;3);(4,5,6))
E: 2010.01.01
F1:12:00:00.000000000
F2:12:00:00.00000
F3:12:00:00.0000

"Addition"
/Simple Addition b/w two numbers
A+C

/We are getting ahead of ourselves but just know that all operators in essence are functions
/Thus they also follow the generic function syntax.
/Function f with inputs a and b can be called with the syntax f[a;b]
/Thus + can also be called using the following syntax
+[A;C]
/+[A;C;10] This wont work because the + function is built to take in two arguments
/It can be written as:
+[A;+[C;10]]

/An even more comlicated way of doing this is using the functional notation along with the
    /infix notation. A+B is the infix notation.
(2+)[66]

/Atomic functions aka +, - etc extend their actions to a list automatically
/That is they extend to element wise operations

/Addition b/w number and vector is just an element wise operation
A+B

/Addition b/w two vectors is element wise
B+D

/The element wise operations also works on nested lists
100+NL

/Adding days to a date by simply adding an integer to it because undercover date is days since millenium
E+10

/Adding seconds to a timespan is as simple as adding an integer but this is tricky
/This where the different datatypes within timespan play a role
/If the nanosecond digits are anywhere from 5-9 then adding 1 is adding a nanosecond aka 1 to 9th decimal place
/If the nanosecond digits are anywhere from 1-4 then adding 1 is adding a millisecond aka 1 to 3rd decimal place
F1+1
F2+1
F3+1

/The above rules hold for subtraction, multiplication and division as well
"------------------"

"Subtraction"
A-C
A-B
B-D
"------------------"

"Multiplication"
A*C
A*B
B*D
"------------------"

"Division"
/% is for division. This is confusing because other languages use it for modulo
/Division always results in a float
A%C
A%B / A/B_i (A divided by each element)
B%A / B_i/A (Each element divided by A)
B%D
"------------------"

"Negation"
neg A
/Element wise operation
neg B
"------------------"

"Match"

/Non atomic nimary match operator returns true if the two are identical
/For two to be identical, they must have the same shape, same type and same values but they
    /can occupy separate storage locations

5 ~ 5 /Match

5 ~ 5.0 /Don't match

(1;2;3)~1 2 3 /Match

(1;2;3) ~ (3,2,1) /Dont match

(1;2;3;4;5) ~((1;2;3);(4;5)) /Dont match
"------------------"

"Equality"

/= is different from ~ because it is atomic and it checks for each element
/In equality all atoms of numeric, temporal and char type are mutually compatible for equality
/Symbols are only compatible with symbols
/So this means that equality checks if the two atoms have the same value regardless of type
5=5.0
/5=`5 /But the symbol would return error
5="5" /False because char is converted to int to compare and the ASCII value is not 5
42="*" /True because ASCII value of char matches int

"------------------"

"Disequality"

/We use the <> to check for disequality. It follows the same rules as equality

5<>5.0 /False
5<>"5" /True
42<>"*" /False

/Note that <> operator actually just does not A=B for A<>B
/So we can do that directly as well
not 5="5" /Gives true
"------------------"

"Not"

/Not is a unary atomic word that results on boolean and works on numeric, temporal and char types
/Is not defined for symbol

not 1b /Will give false

not 0b /Will give true

not 98.6 /Will give false beacuse any non zero numeric is true

not 0 /Will give true

not "5" /Will give false b/c ASCII value is non zero

/Stroke of midnight is 0 for time vars and stroke of midnight at start of the millenium is 0 for dates

not 2000.01.01 /This gives true because this is at midnight at start of millenium

not 00:00:00 /This gives true b/c stroke of midnight is 0
not 12:00:00 /This gives false b/c 12pm is not midnight so not 0

"------------------"

"Less than, Greater than"

/We use the generic symbols >,<,<=,>=
/They are atomic and defined for all compatible types with numerics 
    /and char types being compatible with eachother. Symbols are only compatible with themselves.

"------------------"

"Modulus aka Remainder"
A mod C
A mod B / A mod B_i (A mod by each element)
B mod A / B_i mod A (Each element mod by A)
B mod D
"------------------"

"Div aka Quotient"
/Left operand is the dividend and right operator is the divisor
/5 divided by 2 means 5 is dividend and 2 is divisor
/Atomic function
A div C
A div B / A div B_i (A mod by each element)
B div A / B_i div A (Each element mod by A)
B div D

"------------------"

"Power"
A xexp C
A xexp B / A^B_i (A raised to each element)
B xexp A / B_i^A (Each element raised to A)
B xexp D
/f after number or vector denotes floating point type even if it may seem like an int
"------------------"

"Square Root"
/Atomic unary function
sqrt 2

sqrt B

"------------------"

"E exponential"
/Atomic unary function
exp C
exp B / e^B_i (e raised to each element)
"------------------"

"Natural Log"
/Atomic unary function
/Natural logarithm aka ln

log 1

log 5

log B
"------------------"

"Log"
/Atomic unary function
/Returns log of the right operand with respect to the base of the left operand

5 xlog 20 /log 20 base 5

(exp 1) xlog 5 /equivalent to ln 5

"------------------"

"Higher Value"
/ | returns the higher value. They are atomic
A | C
A | B /A vs B_i
B | D /b_i vs D_i

/It reduces to logical or for binary operands

"------------------"

"Lower Value"
/ | returns the higher value. They are atomic
A & C
A & B /A vs B_i
B & D /b_i vs D_i

/It reduces to logical and for binary operands

"------------------"

"Operator Precedence"

/There is mo operator precedence. Thats why you need to add parenthesis when necessary
/The expressions are evaluated from right to left. This is also called left of right.

2*3+4 /Will be 3+4 then *2

2*(3+4) /Equivalent to the above one

(2*3)+4 /Different

"------------------"

"Amend operator"

/This is similar to toher languages where x+=3 means x=x+3

x: 3
x +:5
x

/We can even amend a variable that hasnt been assigned yet.
/No amend is taking place but we get no syntax error
yyyyyyy+:5
yyyyyyy

/Amending with lists
L:1 2 3 4

L+:100
L

L[0]+:100
L

L[2 3]+: 20
L

/There is a shortcut for list append using amend
L,:5
L

L,:(9;8;7)
L
"------------------"

"Signum"

/Atomic unary operator that returns int representing sign of its input
/1i for positive and -1i for negative and 0i for 0

signum 4

signum -4

signum 2 3 4 -5 6 -7
"------------------"

"Reciprocal"

/Atomic unary that retruns the float result of 1 divided by the input

reciprocal 2

reciprocal 2 = (1%2) /0w. Why? Because it will do 1%2 to get 0.5 then do 2=1 to geth 0 and reciprocal of 0
/To check reciprocal is doing what we thought use the below syntax
(reciprocal 2) = (1%2) /True
"------------------"

"Floor"

/Atomic unary function
/Largest integer less than or equal to input

floor 4.2

floor (4.2;4.5;4.7)

/Floor operator can be used to truncate or round floating values to a specific number of digits
X: 4.123456789

/Rounding to 4 decimal places
0.0001 * floor 10000*X

"------------------"

"Ceiling"

/Atomic unary function
/Smallest integer greater than or equal to input

ceiling 4.2

ceiling (4.2;4.5;4.7)

"------------------"

"Absolute Value"

/Atomic unary function
/Returns absolute value

abs -4.2 /Error because there is no unary -

abs 0-4.2 /This works

abs neg 4.2 /This is the correct way

abs 4 /Returns as is

abs (1;2;3;4;neg 5)

"------------------"

"Temporal Discussion"

/It ends up being integer arithmetic from their underlying integer form.
/If different temporal types, they are promoted to the wider one

M: 12:20:22 /Integer form is seconds 
M-1 /So should be 12:120:21

/Against a different type. The values get promoted to the wider type
12:50-M

/Note that Q handles the promotion
/Doing it manually by casting them to int using `int$M would be problematic 
    /because integer values are of different units.

/For comparison, they are promoted to the most granular type and then compared

2000.01.01=2000.01.01D00:00:00.000000000 /True because we convert to wider form

2000.01.01=2000.01.01D00:00:11.000000000 /False because convert to wider form and seconds would be off

"------------------"

"Alias"

/Alias is a variable that is an expression and not the result of the expression
/What does this mean? If b is set as alias of a and a is changed to 42 then b is also changed to 42
    /whereas if b was set to a, it wouldn't have changed when a changed, it would've stayed original value
a: 4
b:: a /Left operand is alias of right operand
c: a /Set equal to
a: 5
c /Will remain 4 because it was set to value of a at that time which was 4
b /Will become 5 because b is reevaluated when it is called and uses latest value of a

/Very useful as it can be used as a lambda function of sorts with global inputs
/But changing the named variables in it chamges values

Fun:: (x*x)+(y*y)
x:2
x
y:3
y
Fun /Should be 13

/Alias vs function:
/Function takes arguments explicitly whereas you have to keep track in alias
/Function recalculates itself when called again even if inputs havent changed

/Alias have dependencies which can be hard to keep track of
/Thankfully there's an easy way to do see all depdencies
/The following syntax generates a list
/The right column is the things that depend on something and left column is what they depend on
.z.b

/You can create another alias using an alias
Fun2:: Fun+x
/Lets look at dependency dict again
.z.b
/You'll see that Fun2 depends on Fun and x, it doesn't show y as well which it depends on indirectly
/So we have this chain of dependency that we need to be mindful of and track ourseleves when generating nested dependencies

/A dependency chain that would create a loop will be detected and result in an error

/Another application of alias is Viewing
/Aliasing is commonly used to provide a databse view by specifying a query as the expression

/We are getting ahead of ourselves with table construction and queries and view but disregard that and focus on the magic of aliasing
t:([]c1:`a`b`c`a;c2:20 15 10 20;c3:99.5 99.45 99.42 99.4) /Create table
t

v:: select sym:c1,px:c3 from t where c1=`a /Alias a query

v

/Change table
update c3:42.0 from `t where c1=`a

v /Result gets updated

/Refreshed dependencies in .z.b
.z.b

"Addition"

5

5

15

68

3 4 5 6

5 5 5 5

101 102 103
104 105 106

2010.01.11

0D12:00:00.000000001

0D12:00:00.000000001

12:00:00.001

"------------------"

"Subtraction"

-1

1 0 -1 -2

-3 -1 1 3

"------------------"

"Multiplication"

6

2 4 6 8

4 6 6 4

"------------------"

"Division"

0.6666667

2 1 0.6666667 0.5

0.5 1 1.5 2

0.25 0.6666667 1.5 4

"------------------"

"Negation"

-2

-1 -2 -3 -4

"------------------"

"Match"

1b

0b

1b

0b

0b

"------------------"

"Equality"

1b

0b

1b

"------------------"

"Disequality"

0b

1b

0b

1b

"------------------"

"Not"

0b

1b

0b

1b

0b

1b

1b

0b

"------------------"

"Less than, Greater than"

"------------------"

"Modulus aka Remainder"

2

0 0 2 2

1 0 1 0

1 2 1 0

"------------------"

"Div aka Quotient"

0

2 1 0 0

0 1 1 2

0 0 1 4

"------------------"

"Power"

8f

2 4 8 16f

1 4 9 16f

1 8 9 4f

"------------------"

"Square Root"

1.414214

1 1.414214 1.732051 2

"------------------"

"E exponential"

20.08554

2.718282 7.389056 20.08554 54.59815

"------------------"

"Natural Log"

0f

1.609438

0 0.6931472 1.098612 1.386294

"------------------"

"Log"

1.861353

1.609438

"------------------"

"Higher Value"

3

2 2 3 4

4 3 3 4

"------------------"

"Lower Value"

2

1 2 2 2

1 2 2 1

"------------------"

"Operator Precedence"

14

14

10

"------------------"

"Amend operator"

8

5

101 102 103 104

201 102 103 104

201 102 123 124

201 102 123 124 5

201 102 123 124 5 9 8 7

"------------------"

"Signum"

1i

-1i

1 1 1 -1 1 -1i

"------------------"

"Reciprocal"

0.5

0w

1b

"------------------"

"Floor"

4

4 4 4

4.1234

"------------------"

"Ceiling"

5

5 5 5

"------------------"

"Absolute Value"

4.2

4.2

4.2

4

1 2 3 4 5

"------------------"

"Temporal Discussion"

12:20:21

00:29:38

1b

0b

"------------------"

"Alias"

4

5

2

3

13

a| b
x| Fun
y| Fun

a  | ,`b
x  | `Fun`Fun2
y  | ,`Fun
Fun| ,`Fun2

c1 c2 c3
-----------
a  20 99.5
b  15 99.45
c  10 99.42
a  20 99.4

sym px
--------
a   99.5
a   99.4

`t

sym px
------
a   42
a   42

a  | ,`b
x  | `Fun`Fun2
y  | ,`Fun
Fun| ,`Fun2
t  | ,`v

# Dictionaries:

In [61]:
/A dict has an explicit key and value list.
/Key list needs to be unique
/It can be considered as key-value pairs but logically it is stored physically as
    /a pair of lists

/A dictionary is sometimes called an association
/Syntax is: keys!values

10 20 30!1.1 2.2 3.3

10| 1.1
20| 2.2
30| 3.3

In [64]:
/Neither keys nor values have to be simple lists
1001 1002 1003!(`Arthur`Dent; `Zaphod`Beeblebrox; `Ford`Prefect)

d: `a`b`c!1 2 3
d

/Decompose list into key and value using the keywords
key d
value d

/Since the length of keys and values need to match, we can easily get count of pairs in dict
count d

1001| Arthur Dent
1002| Zaphod Beeblebrox
1003| Ford   Prefect

a| 1
b| 2
c| 3

`a`b`c

1 2 3

3

In [65]:
/Order of pairs is significant in dicts just as positional order is significant for lists
/Not identical even though the pairs are matching, the wrong order cause them to not be identical
(`a`b`c!1 2 3)~`a`c`b!1 3 2

0b

In [68]:
/Creating empty lists
()!()

/Create a typed empty dict using typed empty key and typed empty value list
(`symbol$())!`float$()

/Creating dict requires both key and values to be list
/To create a dict with single pair we need to leverage the enlist function
(enlist `x)!enlist 1

/`x!1 will yield an enumerated value for a link column

x| 1

In [69]:
/Lookup:
d: `a`b`c!1 2 3
/Look at the value using its key
d[`a]
/As with lists you can skip the brackets and use spaces
d `a
/Looking up a key that doesn not exist returns null
d `x
/Similar to list indexing where you can provide multiple indexes
d[`a`c]
/Set a list and use that as key input
ks: `a`c
d ks

1

1

0N

1 3

1 3

In [70]:
/Recall that ? on alist returns the index of the first occurence
10 20 30 20?20
/We can extend this to dictionaries and use it to find the key for a value
dd: (`a`b`c`d)!1 2 3 1
/Note that if two keys have the same value it returns the first key
dd?1
/If a value has no key then we get null
dd?45

1

`a

`

In [71]:
/Dict vs Lists
/We can create a dict that very much works like an equivalent list
L: 10 20 30
d: 0 1 2!10 20 30
L 0
d 0
L 1 2
d 1 2
d~L /Not same even though we aligned the index/keys

10

10

20 30

20 30

0b

In [72]:
/Adding two dicts
/The operation is done based on matching keys
d1: 0 100 5000!10 20 30
d2: 0 99 10000!100 200 300
d1+d2

0    | 110
100  | 20
5000 | 30
99   | 200
10000| 300

In [73]:
/Non unique keys and values
/Technically you can have non-unique keys during initialization
    /but lookup only looks at first occurence
ddup:`a`b`a`c!10 20 30 20
ddup
/We can find all keys matching to a value by
where ddup=20

a| 10
b| 20
a| 30
c| 20

`b`c

In [74]:
/Neither keys nor values are required to be atoms or uniform
/Either can be nested lists
/Nested lists for keys
d:(`a`b; `c`d`e; enlist `f)!10 20 30
d
d `f
d?20
/Nested lists for values
d:`a`b`c!(10 20; 30 40 50; enlist 60)
d
d `b
d? 30 40 50
/An irregular key or value list will mess up looup and reverse lookup
/An irregular list would be where we have nested lists but one is just a number
d_irregular: (1 2; 3 4 5; 6; 7 8)!10 20 30 40
/6 in the keys list does nto conform so returns null value
d_irregular 6
/Fix have enlist 6
d_regular: (1 2; 3 4 5; enlist 6; 7 8)!10 20 30 40
d_regular 6
/Similar story for irregularity in value list and reverse lookup
d_irregular:10 20 30 40!(1 2; 3 4 5; 6; 7 8)
d_irregular?6 /Returns null
d_regular:10 20 30 40!(1 2; 3 4 5; enlist 6; 7 8)
d_regular?6

`a`b  | 10
`c`d`e| 20
,`f   | 30

30

`c`d`e

a| 10 20
b| 30 40 50
c| ,60

30 40 50

`b

0N

30

0N

30

In [75]:
/Operations on dict
/Just like with lists we can modify via assignment to a key. In the case of lists the key is the index
d:`a`b`c!10 20 30
d[`b]: 22
/In contrast to lists, dicts can be extended via assignment
d[`x]: 100
d
/So using an existing key is an update and using a new key is an insert.
/This behavior is sometimes called upsert.

a| 10
b| 22
c| 30
x| 100

In [76]:
/Extracting sub-dictionary
/We can extract both the key and values using the Take operator #
/Left operand is a list of keys and right operand is source dict
/It returns a sub-dict of the specific keys
d:`a`b`c!10 20 30
d `a`c
`a`c#d
/In the event of dup keys only first is extracted
/It also works with non simple keys

10 30

a| 10
c| 30

In [77]:
/Removing entries
/The operator _ removes key value pairs.
/The left operand is keys to remove and right operand is dict
/It returns thee dict obtained from removing key-value pairs of specified keys
/Note that we need space before _ because _ can be a part of a symbol cauing syntax issues
d:`a`b`c`a!10 20 30 40
`a`c _ d
/Keys that do not exist have no ee=ffect. No error for invalid key
`x`c _ d
/Note that for duplicate keys it removes all occurences
/The binary keyword "cut" is the same as _
`a`c cut d
`x`c cut d
/Another syntax for this which is seldom used is
/Dict on the right and single key on the left
/Doesnt work for more than one key
d _ `a
/Another key difference between the single remove vs the usual syntax
/The single remove is built for removing single key-value pair
/So it only removes first instance
/Thus the above syntax remove one pair with key `a
/whereas syntax below will remove both pairs with `a
`a _ d

b| 20

a| 10
b| 20
a| 40

b| 20

a| 10
b| 20
a| 40

b| 20
c| 30
a| 40

b| 20
c| 30

In [78]:
/Basic operations on dicts
/Any function applied to dict applies to its value list
/Recall with dict addition visted above, the keys are used to decide what values to add
/The keys themselves never change
d: 1 2 3 4!5 6 7 8
d2: 1 3 4 5!10 20 30 40
neg d /Only affects values
2*d
d=20
d*d
/When key list is different we get dict with union of the key lists
/Operation only happens on matching keys
/Nothing happens to unmacthed keys
d*d2
/What if their are duplicate keys in one of them
d: 1 2 3 4 3!5 6 7 8 9
d2: 1 3 4 5!10 20 30 40
/If the first one has duplicates then operation happends only on first occurence
d+d2
/If the second one has duplicates then the non-first occurence is dropped
d2+d
/What id both have duplicate keys
d: 1 2 3 4 3!5 6 7 8 9
d2: 1 3 4 5 3!10 20 30 40 100
/Operation only happens based on first occurence. Non first occurence of second dict is omitted
d+d2
/Operation only happens on first occurence. Non first occurence of second dict aka right operand are omitted
d2+d

1| -5
2| -6
3| -7
4| -8

1| 10
2| 12
3| 14
4| 16

1| 0
2| 0
3| 0
4| 0

1| 25
2| 36
3| 49
4| 64

1| 50
2| 6
3| 140
4| 240
5| 40

1| 15
2| 6
3| 27
4| 38
3| 9
5| 40

1| 15
3| 27
4| 38
5| 40
2| 6

1| 15
2| 6
3| 27
4| 38
3| 9
5| 40

1| 15
3| 27
4| 38
5| 40
3| 100
2| 6

In [79]:
/Join operator merges two dicts
/For overlapping keys b/w the two dicts the value of the right operand prevails
/Syntax is same as lists
d1:`a`b`c!10 20 30
d2:`a`c`d!100 200 300
d1,d2
/Since we take the right operand values you can thing of this is each
    /key value pair on the right being upserted into the left
/Since we take the value of right operand in cases of overlap the order in joining matters
/Again we think about duplicates
/The result is very similar to how the other operators handled duplicates
d1:`a`b`c`a!10 20 30 40
d2:`a`c`d!100 200 300
/If duplicate in left operand, we only perform potential coalesce on first occurence
d1,d2
/If duplicate on right operand we omit the non first occurence
/If both have duplicates, things get tricky
/But its easy to follow it if you break it down into the upserted calculations
/If we have d1,d2
/d1[key from d2] d2 value
/If d1 has duplicate key, only first occurence changes b/c update operator can only retrieve first occurence
/If d2 has duplicate keys `x for e.g
/Then first we do d1[`x]=val1 and then we do d1[`x]=val2
/Thus d1[`x] will have the last occurence because thats what we set
d1:`a`b`c`a!10 20 30 40
d2:`a`c`d`c!100 200 300 400
/These follow the upsert chain as described above
d1,d2
d2,d1

a| 100
b| 20
c| 200
d| 300

a| 100
b| 20
c| 200
a| 40
d| 300

a| 100
b| 20
c| 400
a| 40
d| 300

a| 40
c| 30
d| 300
c| 400
b| 20

In [80]:
/Coalesce
/The coalesce operator is similar to join in that it employs upsert semantics
    /to merge two dicts
/The difference is that the right values prevail over the left except for nulls
d1:`a`b`c!10 0N 30
d2:`b`c`d!200 0N 400
d1^d2

a| 10
b| 200
c| 30
d| 400

In [81]:
/Arithmetic and relational operators
/In arithmetic operators, the operation is performed on common keys
/Disjoint keys are kept as is
/For equality and comparison, operation is performed over common keys
/For disjoint keys the appropriate null value is returned
/If a disjoint key has null value then it will show false
/Because if we reference a non existing key in a dict we get null
/So wehn comparing it to the dict that doesnt have it we will still get null for both resulting in True
(`a`b`c!10 20 30)=`b`c`d!20 300 400 /b:20 is only key value pair matching
(`a`b`c!0N 20 30)=`b`c`d!20 300 0N /b matches and a and d should return true because they are null and disjointed
/Duplicate keys, what happens
/Only first occurence is considered regardless of right or left operand
/Non first occurence omitted
(`a`b`c`a!10 20 30 10)=`b`c`d`a!20 300 0N 10
/Both sides have duplicates? Still only first occurence checked and the rest omitted
(`a`b`c`d`a!10 20 300 0N 20) = `a`b`c`a!20 20 30 10

a| 0
b| 1
c| 0
d| 0

a| 1
b| 1
c| 0
d| 1

a| 1
b| 1
c| 0
d| 1

a| 0
b| 1
c| 0
d| 1

In [90]:
/Column Dictionary
/A dictionary where each key corresponds to vector/list is called a column dictionary
`c1`c2!(`a`b`c; 10 20 30)
/We think of c1..cn:v1..vn where ci is column
/Lets look at an example
travelers:`name`iq!(`Dent`Beeblebrox`Prefect;42 98 126)
travelers

/Name column
travelers[`name]

/Get the specific value in columns
travelers[`name][1]

/Whenever we encounter repeated indexing, we can write is as indexing at depth
travelers[`name;1]

/We do not specify the column, just the position
travelers[;1]

/COlumn dict with single column
(enlist `c)!enlist 10 20 30

c1| a  b  c
c2| 10 20 30

name| Dent Beeblebrox Prefect
iq  | 42   98         126

`Dent`Beeblebrox`Prefect

`Beeblebrox

`Beeblebrox

name| `Beeblebrox
iq  | 98

c| 10 20 30

In [91]:
/Transposing dictionaries
/he columns become the vertical columns as we are used to seeing them
/The inexes flip so column index comes second
travelers:`name`iq!(`Dent`Beeblebrox`Prefect;42 98 126)
t: flip travelers
t

/Get value
t[1;`iq]

/Get column
t[;`iq]

/Get row
t[1;]

name       iq
--------------
Dent       42
Beeblebrox 98
Prefect    126

98

42 98 126

name| `Beeblebrox
iq  | 98

# Functions:

In [1]:
/Function definition is delimited by { } and immediately after the opening brace, the formal parameters are enclosed in [ ]
/and separated by semi-colons
/So for is Name:{[x;y] x+y}
/We can have multiple expressions and separate them by ;
/Value of final expression is returned as output value of the function
/If we have semi colon after last expression we get not return value. It is used to suppress a return

/Square function
sq:{[x] x*x}

/Sum of squares
ssq:{[x;y] a:x*x; b:y*y; a+b}

/Calling a function
sq[5]
sq 5
ssq[2;3]
ssq 2;3 /This does not work
ssq 2 3 /This does not work either

/Calling function without ever creating it
{[x] x*x}[5]
{[x] x*x} 5

25

25

13

3

25

25

In [5]:
/Inputting more inputs than needed gives rank error
sq:{[x] x*x}

sq[1;2]

rank: rank

In [6]:
/Inputting more inputs than needed in a function without inputs needed works and does not give error
sq:{[] 2*2}

sq[1]

4

In [8]:
/Functions without return value
/We get nothing back, there is no error
fvoid:{[x] `a set x;}

fvoid 42

In [12]:
/When we save a named function
/We can use the symbol name of the variable in place of the variable itself
sq:{[x] x*x}

sq[5]

/Symbol name
`sq 5

25

25

In [16]:
/If you do not explicitly define input parameters q automatically considers x,y,z to be the first three inputs in that order
/But nothing beyond that
{a:x*x ; b:y*y ; c:z*z ; a+b+c} [1;2;3] /x is 1, y is 2 and z is 3

/What if we use x and z?
/Then we need to input y even if it is ignored because the default order is x,y,z
s: {x+z}

s[1;2] /Does not work because we need 3 inputs

s[1;2;3] /Second input is ignored

14

{x+z}[1;2]

4

In [18]:
/Anonymous function
/A function without a name is then called an anonymous function

/We can use anonymous functions to dispatch functions in a container
powers:({1}; {x}; {x*x}; {x*x*x})

selected: 2

/Just see the function. Follow this by input paameters to run it
powers[selected]

/Run the function after calling it
powers[selected] 5

{x*x}

25

In [20]:
/Identity function
/When :: is used with function application syntax, it is the identity function  i.e., 
    /it returns its input as output.
/The naked identity function cannot be used with prefix syntax; it must be enclosed in parentheses.

::[42]

::[`a`b`c]

/:: 42 / error

(::) 42

/Syntax is similar to alias

42

`a`b`c

42

In [52]:
/As we've seen previously functions can easily be passed in containers as ints and floats are
f:{x*x}
g:{2*x}

/List of functions
(f; g)

(f; g)[1] /Shows the function in the position

/Run list of functions
/First tells us which value to get and second tells us input
/There is no second depth so the second value is fucntion input
(f; g)[1;5]

{x*x}
{2*x}

{2*x}

10

In [54]:
/Apply functions can easily be created
apply:{x y} /Apply x on input y

sq:{x*x}

apply[sq; 5]

apply[sq; (5;2;3)]

/A function that operates on other functions is called a higher-order function

25

25 4 9

In [63]:
/Call by name
/Ordinary function application in q uses call-by-value, meaning that arguments 
    /are reduced to values at the start of application. In the process, copies are 
    /made so that any original values are undisturbed. When the size of the input 
    /data is large, this copy may be prohibitive. In this case, there is an alternative 
    /method of application, call-by-name, in which names of (global) variables are passed 
    /instead of their values.

a: 42

/One example of a function that uses call-by-name is the built-in function get
get `a

/Another example is binary set, which does the actual work of global assignment. It expects 
    /the name of a global variable and the value to be assigned.
`a set 50

a

42

`a

50

In [71]:
/Global Variable
/A variable assigned outside any function definition is called a global 
    /variable. Global variables are visible inside any function body.
b:7
f:{b*x}

f[6]

42

In [67]:
/Local variable
/A variable that is assigned with : within a function body is called a local variable. 
    /For example, a is a local variable in the following function.
f:{a:42; a+x}
f 5

/Q does not have lexicol scoping
/Local variable a and local function helper
g:{[p1] a:42; helper:{[p2] a*p2}; helper p1}
g 5
/Why is this 250 instead of 210 we expected? Because the local a does not enter local helper
/Instead it ends up using global a which we defined as 43 in the previous cell

/How to fix this? Have it be an input of the local function
g2:{[p1] a:42; helper:{[a;p2] a*p2}; helper[a;p1]}
g2 5

47

250

210

In [75]:
/Projection
/Projection means specifying only some of the parameters in function application, resulting 
    /in a function of the remaining parameters.
/So projection is when we input less input variables then required resulting in nothing
/But we can then enter the remaining inputs and get an output
plus:{x+y+z}

/A projection.
/If we add the last input then we will get output
aa: plus[1;2]

/We get aa[1;2;3]
aa 3

/We can use projection to make local function syntax even simpler
/We will use the example from previous cell
/Make the helper function a projection by adding a as an input right away
g3:{[p1] a:42; helper:{[a;p2] a*p2}[a]; helper p1}
g3 5

/A chain of projections
plus[2][3][4]

/To make your code more readable, it is always recommended to use ; after the input when using a projection
/This shows that there are more inputs remaining
g4:{[p1] a:42; helper:{[a;p2] a*p2}[a;]; helper p1}
g4 5

6

210

9

210

In [76]:
/The function body in a projection is captured at 
    /the time it is first encountered by the interpreter.
/Thus if the underlying function is subsequently changed, the projection is not.

f:{x-y}

g:f[42;]

g

g[6]

f:{x+y}

g /Unchanged

g[6] /Unchanged

{x-y}[42;]

36

{x-y}[42;]

36

In [73]:
/Assigning global variables within a function
f:{a:98.6; `a set x}
f 20
a

`a

20

In [79]:
/Operator Projection

/When used in infix form, a q operator can be projected by fixing its 
    /left operand (only). This requires parentheses. For example, the 
    /projection of * onto its right operand is:
(7*) 6

/Left projection?
/We cant follow the same syntax as above to have a projection on to the left operand
/Since each operator is a function we can use [] to specify right operand & create projection
-[;42] 98

42

56

In [84]:
/Multiple Projections
/We can project a function with more than two inputs (also called having greater than
    /two valence) multiple ways

/Project onto the second input
{x+y+z}[1;;3] 2

/Project onto second and third input
{x+y+z}[1;;][2;3]

{x+y+z}[1;;][;3] 2

6

6

6

In [101]:
/Element wise operation
/If we input a list when only on input was needed, we get elementwise
f:{x*x}
f[(2;5)]
f[2 5]

/But if there were two inputs then they are taken in as x and y
f:{(x*x) + y}
f[2;5]
f[(2;5)] 4 /Doesnt work. Is a projection as (2;5) is seen as x inputs and 4 is y
f[2 5] /Doesnt work

/Notice the syntax difference as well
/Input a list is element wise operations
/Input ; separated then its inputs
/ 2;5 is not a list. (2;5) is list or 2 5

4 25

4 25

9

8 29

{(x*x) + y}[2 5]

In [107]:
/Atomic functions

/Unary functions such as neg when applied to a list act as for each
neg 1 2 3 4

/Binary functions aka arithmetic, relational and comparison functions are atomic in boht operands
/This leads to 4 cases:
/1. atom with atom
1+10
/2. atom with list
1+10 20 30
/3. list with atom
10 20 30 + 1
/4. list with list
1 2 3+10 20 30

/Creating atomic functions?
/Best way to build atomic functions is to use atomic functions to compose it
/Unary atomic function created
f:{(x*x)+(2*x)-1}
f 0
f 1 2 3 4 5
/Binary atomic function created
pyth:{sqrt (x*x)+y*y}
pyth[1; 1]
pyth[1; 1 2 3]
pyth[1 2 3; 1 2 3]

-1 -2 -3 -4

11

11 21 31

11 21 31

11 22 33

-1

2 7 14 23 34

1.414214

1.414214 2.236068 3.162278

1.414214 2.828427 4.242641

In [117]:
/Iterators
/Iterators are higher-order functions that modify the behavior of functions 
    /for application on lists.
/Not every function is atomic, but we may still want to apply it to individual 
    /items of a data structure without loopy code. Iterators to the rescue.

/We have seen that an atomic function automatically applies to the atoms in a nested list.
neg (1 2 3; 4 5)

/Clearly a function that aggregates a list into an atom cannot be atomic since it collapses 
    /the list structure. In particular, aggregate functions operate only at the top level of 
    /a nested list.
count (10 20 30; 40 50)

/Suppose instead that we want to count each of the two items in our nested list. 
/This is precisely what the each iterator does. It modifies a unary function so that it 
    /applies to each item in a list rather than to the list as a whole. When used infix, 
    /each follows the function after (required) whitespace.
count each (10 20 30; 40 50)

/Alternate syntax
each[count] (10 20 30; 40 50)

/We could say informally that each makes a non-atomic function act atomically at least 
    /at one level. For deeply nested lists, you need to iterate each to apply a function 
    /at deeper levels.
(count each) each ((1 2 3; 3 4); (100 200; 300 400 500))
each[each[count]] ((1 2 3; 3 4); (100 200; 300 400 500))

/Each can be used with any unary function
reverse ("life"; "the"; "universe"; "and"; "everything")

reverse each ("life"; "the"; "universe"; "and"; "everything")


/Trick to get nx1 vector
enlist each 1001 1002 1004 1003

/Note that flip is faster
flip enlist 1001 1002 1004 1003

-1 -2 -3
-4 -5

2

3 2

3 2

3 2
2 3

3 2
2 3

"everything"
"and"
"universe"
"the"
"life"

"efil"
"eht"
"esrevinu"
"dna"
"gnihtyreve"

1001
1002
1004
1003

1001
1002
1004
1003

In [128]:
/Iterators on binary functions

/An atomic operator automatically applies to corresponding pairs of items 
    /when applied to lists of the same length.
1 2 3+10 20 30

/Binary join is not atomic
"abc","de"

("abc"; "uv"),("de"; "xyz")

/The iterator Each ' modifies a binary function (operator, keyword) to apply 
    /pairwise to corresponding list items.
("abc"; "uv"),'("de"; "xyz")

/A function modified by Each has the usual properties of atomic binary functions. 
/For example, you get a length error if arguments don't line up.
/("abc"; "uv"),'("de"; "xyz"; "uhoh") /Error

/Getting ahad of ourseleves but:
/A nice example of ,' arises when both operands are tables. Since a table is a list of 
    /records, it is possible to apply ,' to tables with the same number of rows. The 
    /record dictionaries in each row are upserted, resulting in a sideways join of the 
    /tables, as in the following example. (Cbind of sorts)
t1:([] c1:1 2 3)
t2:([] c2:`a`b`c)
t1,'t2


/An atomic operator also extends an atom in the right operand to match a list on the left.
/To achieve this we use Each left iterator \:
("abc"; "de"; enlist "f") ,\: ">"

/An atomic operator extends an atom in the left operand to match a list on the right.
/To achieve this we use Each left iterator /:
"</" ,/: ("abc"; "de"; enlist "f")

/Recap:
/List to list is operator followed by '
/List to atom is \:
/Atom to list is /:

11 22 33

"abcde"

"abc"
"uv"
"de"
"xyz"

"abcde"
"uvxyz"

c1 c2
-----
1  a
2  b
3  c

"abc>"
"de>"
"f>"

"</abc"
"</de"
"</f"

In [131]:
/Cross Product
/A cross (Cartesian) product of two lists pairs each item on the left with each 
    /item on the right.
1 2 3,/:\:10 20
/If we compose Join with Each Right and Each Left, we are almost there, except that 
    /there is an extra level of nesting, which we eliminate with the built-in raze.
raze 1 2 3,/:\:10 20

/The built-in operator cross computes this cross product.
1 2 3 cross 10 20

1 10 1 20
2 10 2 20
3 10 3 20

1 10
1 20
2 10
2 20
3 10
3 20

1 10
1 20
2 10
2 20
3 10
3 20

In [132]:
"Over"
/The Over iterator / is a higher-order function that provides the principal mechanism for recursion in q. 
/In its simplest form it modifies a binary function to accumulate results over a list.

/We know that we can do element wise operations in between two lists or a list and a number
/But there is also a simple way to do basic iterative operations on a list
/ +/ or any basic operator followed by / tells us that it is iterating over itself
/In q this is called Over
0 +/ 1 2 3 /We specify initial value in the accumulator and then modify + with iterator /
/The initial accumulator value is the left operand and the list to accumulate over is the 
    /right operand. Under the covers, each item of the list is progressively added into the 
    /accumulator, moving across the list until the end is reached

/Alternatively if we want the first item of the list to be to be the start then we do the following
(+/) 1 2 3
/Other basic operators
(-/) 1 2 3
(*/) 1 2 3
(%/) 1 2 3

/Alt syntax
+/[0; 1 2 3 4 5 6 7 8 9 10] /With left operand
+/[1 2 3 4 5 6 7 8 9 10] /Without left operand

"Over"

6

6

-4

6

0.1666667

55

55

In [133]:
/This is very useful technique because this way we can get max and min using advanced operators 
    /such as | and &
(|/) 1 4 2 /Get maximum
(&/) 2 4 1 /Get minimum

4

1

In [145]:
/Over on custom functions

f:{2*x+y}

100 f/ 1 2 3
/How does this work?
ret1 : f[100;1]
ret2 : f[ret1;2]
f[ret2;3]

822

822

In [146]:
/We can use Over to do recursion on unary functions
/In this version of /, the left operand is a natural number indicating how 
    /many times to perform the iteration and the right operand is the initial value.

fib:{x,sum -2#x}

/Left operand tells us how many times to recurse and ight operand is input
10 fib/ 1 1

1 1 2 3 5 8 13 21 34 55 89 144

In [144]:
/Recursion until converegence
/Another version of / runs the recursion until convergence, or until a loop is detected. 

/Example uses Newton Raphson Method
f:{-2+x*x}
secant:{[f;x;e] (f[x+e]-f x-e)%2*e}
{x-f[x]%secant[f; x; 1e-6]}/[1.5]
/How does q determine convergence? At each step the result is compared to that of the previous 
    /step. If the two agree within equality tolerance (10-14) the algorithm is considered to 
    /have converged and the recursion is complete; otherwise it continues.

/Mathematically, it is possible to generate an infinite loop with Newton-Raphson. To wit, 
    /we select the function x3  2x + 2 and choose the initial value 0, which causes the 
    /algorithm to go into a cycle.
newtcycle:{[xn] xn-((xn*xn*xn)+(-2*xn)+2)%-2+3*xn*xn}
newtcycle/[0.0]
/How did q detect the cycle and stop the iteration? At each step it compares the result with 
    /the initial value. If they match, a cycle has occurred and the recursion is halted; 
    /otherwise it continues.

1.414214

1f

In [147]:
/While loop equivalent
/The final overload of / is equivalent to a while loop in imperative programming. 
/It provides a declarative way to specify a test to end the iteration. Thinking functionally, 
    /we provide a predicate function that is applied to the result at each step. The iteration 
    /continues as long as the predicate result is 1b and stops otherwise. For example, we stop 
    /the computation of the Fibonacci sequence once it exceeds 1000 as follows.

fib:{x,sum -2#x}
fib/[{1000>last x}; 1 1]

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [148]:
/Some of these combos have named operations which are aliases
sum 1 2 3 / +/
prd 1 2 3 / */
max 1 4 2 / |/
min 2 4 1 / &/

6

6

4

1

In [149]:
"Power Trick"
/This gives us a cool way to get power of a number
/We use # and */ to do it
/We know X#V is a list of X Vs
/And if we (*/) that list then we have V^X
(*/) 5#10

"Power Trick"

100000

In [152]:
"Scan"
/We know that Over aka operator followed by / gives us the final output, but if we 
    /want to get intermediate outputs as well we use its sibling called Scan which 
    /is operator followed by \
(+\) 1 2 3
(-\) 1 2 3
(*\) 1 2 3
(%\) 1 2 3
(|\) 1 4 2 /Get maximum
(&\) 2 4 1 /Get minimum

/All the variations of Over are also available with Scan. 
/Switching to Scan can be useful to see intermediate results of an accumulation.

/See the intermediate operations on custom functions
f:{2*x+y}
100 f\ 1 2 3

"Scan"

1 3 6

1 -1 -4

1 2 6

1
0.5
0.1666667

1 4 4

2 2 1

202 408 822

In [151]:
/Just as for Over, Scan has named operations for some of these combos which are aliases
sums 1 2 3 / +\
prds 1 2 3 / *\
maxs 1 4 2 / |\
mins 2 4 1 / &\

1 3 6

1 2 6

1 4 4

2 2 1

In [154]:
/Each Prior
/The iterator Each Prior ': provides a declarative way to perform a binary operation 
    /on each item of a list with its predecessor.

/Since initial value does not have predecessor, we must provide one in the left operand
100 -': 100 99 101 102 101

/As with the other iterators, there is a unary form of Each Prior
/It may come as a surprise that the unary form does not choose the initial item of the input 
    /list as the initial predecessor. Rather, it returns the initial item of the input as is
(-':)100 99 101 102 101

0 -1 2 1 -1

100 -1 2 1 -1

In [159]:
/Named versions of Each Prior
/ -': is called deltas
/It is only for the unary version
deltas 100 99 101 102 101

/%': is called ratios
ratios 100 99 101 102 101

100 -1 2 1 -1

100 0.99 1.020202 1.009901 0.9901961

In [163]:
/A powerful idiom with Each Prior uses Match ~ to test if successive items are identical.
(~':) 1 1 1 2 2 3 4 5 5 5 6 6

not (~':) 1 1 1 2 2 3 4 5 5 5 6 6

/not (~':) has a named version
differ 1 1 1 2 2 3 4 5 5 5 6 6

L:1 1 1 2 2 3 4 5 5 5 6 6
where differ L

/Observe that the 1b values in the result of differ are the start points for runs of identical 
    /items, so where yields their indices. Then use cut to split them out.
(where differ L) cut L

011010001101b

100101110010b

100101110010b

0 3 5 6 7 10

1 1 1
2 2
,3
,4
5 5 5
6 6

In [164]:
/Special function: Fibonacci sequence
/We use what we learned about functions and the list operators to create a Fibonacci function
/We know fibonacci starts with 1 1 with every subsequent element being a sum of the previous 2
/Given a Fib sequence we give the next value in the sequence
/No input specified so by default first input would be x
/We have , because we want to display input aka x followed by next value in fibonacci sequence
/ -2# takes last two values of list and sum adds them
Fib:{x,sum -2#x}
Fib 1 1
/The above function is fairly limited since it has to give us the Fibonacci sequence before the desired point to get it
/We know that 1 1 is the start, what if we could set this function recursively where the user only had to specify the
/number of values he wanted from the Fibonacci sequence 
/There is an overload of / where we can specify number of time to resurse and the base case
10 {x,sum -2#x}/ 1 1 /N {Func}/ [base case]
/We can write this as a function which inputs number of recursions. NOte it will leverage nested functions
Fib_new:{x {x,sum -2#x}/ 1 1} 
/Dont get confused by x being used twice for different values. For readability a better way to write it would be:
Fib_new2:{[N] N {x,sum -2#x}/ 1 1} 
Fib_new 10
Fib_new2 10

1 1 2

1 1 2 3 5 8 13 21 34 55 89 144

1 1 2 3 5 8 13 21 34 55 89 144

1 1 2 3 5 8 13 21 34 55 89 144

In [168]:
/Operator @
/Basic application comprises retrieving a list item by index, looking up a dictionary 
    /value by key, or evaluating a unary function. These are all instances of application 
    /of a univalent mathematical mapping. These are to be distinguished from indexing at depth
    /which uses operator apply
/The higher-order function @ is the true form of basic application in q. 
/It applies a unary mapping to an argument.

L:10 20 30 40

L@1

count@L
@[count; L]

{x*x}@L

20

4

4

100 400 900 1600

In [180]:
/Operator Apply
/Indexing a list at depth, retrieving a nested value from a dictionary and evaluating a function 
    /with multiple parameters are all instances of applying a multi-variate mapping. 
/The higher-order function . is the true form of multi-variate application in q. 
/It applies a multi-variate mapping to multiple arguments and can be written infix or prefix.

/The right argument of . must be a list.

L:(10 20 30; 40 50)

L 1 0

L[1; 0]

L . 1 0


d:`a`b`c!(10 20 30; 44 50; enlist 60)
d . (`b; 0)


g:{x+y}
g[1; 2]
g . 1 2

.[g; 1 2]

/We conclude that . can apply a function of any valence and that @ is actually unnecessary.

40 50
10 20 30

40

40

44

3

3

3

In [183]:
/Applying a unary function at specific positions @ Operator
d:`a`b`c!10 20 30
ks:`a`c
@[d; ks; neg]
d

/As you can see the original doesnt change since it uses a copy
/If we want it to be an inline function, we use the following code
@[`d; ks; neg]
d

a| -10
b| 20
c| -30

a| 10
b| 20
c| 30

`d

a| -10
b| 20
c| -30

In [186]:
/Applying a binary function at specific positions @ Operator
L:10 20 30 40
/Specifiy positions to get left operand and then the right opeand is specified
@[L; 0 1; +; 100 200]


/The general form of functional @ for a binary atomic function is:
/@[L; I; g; v]
/The notation is suggestive of lists, but L can be any data structure, viewed as a mapping. 
/Here I is a top-level sub-domain of L; g is a binary function; and v is an atom or list 
    /conforming to I.

110 220 30 40

In [187]:
/A useful case of binary application uses the assignment operator : to modify values along 
    /the sub-domain
L:10 20 30 40
@[L; 0 2; :; 42 43]
L

/As in the unary case, to apply to the original in place, instead of to a copy, use pass-by-name.
@[`L; 0 2; :; 42 43]
L

42 20 43 40

10 20 30 40

`L

42 20 43 40

In [193]:
/Applying a unary function at specific positions Apply Operator
m:(10 20 30; 100 200 300)

.[m; 0 1; neg]
m

/if we want it to be inplace
.[`m; 0 1; neg]
m

/Ellided indices instead of enlist or incomplete indices
m:(10 20 30; 100 200 300)
.[m; enlist (0); neg]
.[m; (0; ::); neg]

/The general form of . for unary functions is,
/.[L; I; f]
/Here L is a data structure, I is an in-depth sub-domain of L and f is a unary atomic function.

10  -20 30
100 200 300

10  20  30
100 200 300

`m

10  -20 30
100 200 300

-10 -20 -30
100 200 300

-10 -20 -30
100 200 300

In [197]:
/Applying a binary function at specific positions Apply Operator
/The form of functional . for a binary function is:
/.[L; I; g; v]
/Here L is a data structure, I is an in-depth sub-domain of L, 
    /g is a binary function and v is an atom (for g atomic) or a 
    /vector that conforms to I. To apply in place use pass-by-name.

m:(10 20 30; 100 200 300)

.[m; 0 1; +; 1]

.[m; (::; 1); +; 1 2]

/Assigning values
d:`a`b`c!(100 200 300; 400 500; enlist 600)
.[`d; (::; 0); :; 42]
d

10  21  30
100 200 300

10  21  30
100 202 300

`d

a| 42 200 300
b| 42 500
c| ,42